html,
body {
  font-family: "Games", sans-serif;
  background: radial-gradient(circle, #ffa500, #ff4500);
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 4rem;
  background: linear-gradient(to bottom right, #7f33d6, #fcd116, #000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
}
canvas {
  display: block;
}

.d-none {
  display: none;
}

.game-over {
  width: 100%;
  position: absolute;
  /* left: 0; */
  /* right: 0; */
  margin-top: -643px;
}

.restart-btn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #ff4500;
  z-index: 2;
  width: 300px;
  height: 22px;
  color: white;
  cursor: pointer;
  position: absolute;
}

.restart-btn:hover {
  background-color: #7f33d6;
}
